# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
# docs/ 是 GitHub Pages 來源，不加入 .gitignore

# Node
node_modules

# Logs
*.log

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db
